* {
  margin: 0;
  padding: 0;
}
@media (max-width: 640px) {

  .row{
    max-width: 320px;    
  }
}
@media (min-width: 640px) {

  .row{
    max-width: 900px;   
  }
}

html,body{
  height:100%;
  background: rgb(189, 224, 255);
}

.container{
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.header{
  height: 64px;
  background: rgb(1, 1, 124);
  color: white;
  width: 100%;
  display: flex;
  justify-content: end;
}

.header-name{
  display: flex;
  align-items: center;
  font-size: 24px; 
}

.header-button {
  border: 5px;
  color: rgb(212, 212, 212);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(1, 1, 124);
}

.h100 {
  height: 100%;
}

.item-field{
  display:flex;
  gap: 10px;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.item-field_text{
  display:flex;
  align-items: center;
  font-family: cursive;
  min-width: 30%;
  justify-content: space-between;
  flex:1 1 auto;
}

.item-field_name{
  font-size: 20px;
}

.item-field_count{
  font-size: 28px;
  color: red;
}

.item-field_buttons{
  display:flex;
}

.item-field_buttons > button {
  border: 1px solid white;
  color: white;
  padding: 8px 6px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}

.item-field_buttons .item-field_button_plus{
  background-color: rgba(0, 128, 0, 0.8);
}
.item-field_buttons .item-field_button_minus{
  background-color: #ec8601d0;
}
.item-field_buttons .item-field_button_change-name{
  background-color: rgba(0, 0, 255, 0.8);
}
.item-field_buttons .item-field_button_delete{
  background-color: rgba(255, 0, 0, 0.8);
}

.loginform {
  background-color: white;
  border-radius: 10px;
}

.input{
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.submit-button{
  border: 1px solid white;
  color: black;
  padding: 4px 8px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(215, 237, 255);
}